* {
  margin: 0;
  padding: 0;
}

.header1 {
  background-color: white;
  z-index: 1090;
}
.header1 .header-right {
  padding-top: 20px;
}
.header1 .header-right i {
  padding: 0px 10px;
}
.header1 .header-right .dropdown {
  padding: 10px 15px;
  position: relative;
  display: inline;
}
.header1 .header-right .dropdown::after {
  position: absolute;
  content: '';
  width: 0%;
  height: 2px;
  left: 0;
  bottom: 0px;
  background-color: #1976bc;
  transition: 0.5s;
}
.header1 .header-right .dropdown:hover {
  box-shadow: 0px 0px 33px 4px #c2aec2;
}
.header1 .header-right .dropdown:hover .drop-content {
  visibility: visible;
  top: 150%;
}
.header1 .header-right .dropdown:hover::after {
  width: 100%;
}
.header1 .header-right .dropdown .dropbtn {
  border: none;
  color: black;
  font-size: 20px;
  background-color: transparent;
  outline: none;
}
.header1 .header-right .dropdown .drop-content {
  background-color: white;
  transition: 0.2s;
  position: absolute;
  top: 200%;
  left: -150px;
  text-align: left;
  min-width: 250px;
  visibility: hidden;
  border: 1px gray solid;
}
.header1 .header-right .dropdown .drop-content a {
  display: block;
  padding: 10px 0px;
  text-decoration: none;
  outline: none;
  border-bottom: 1px gray solid;
  position: relative;
  color: black;
  position: relative;
}
.header1 .header-right .dropdown .drop-content a ul {
  background-color: white;
  position: absolute;
  left: -121%;
  top: 0%;
  text-align: left;
  visibility: hidden;
  min-width: 300px;
  border: 1px gray solid;
  list-style: none;
}
.header1 .header-right .dropdown .drop-content a ul li {
  display: block;
  padding: 10px 0px;
  text-decoration: none;
  outline: none;
  position: relative;
  color: black;
  position: relative;
}
.header1 .header-right .dropdown .drop-content a ul li:hover::after {
  width: 18%;
}
.header1 .header-right .dropdown .drop-content a ul li::after {
  position: absolute;
  content: '';
  width: 0%;
  height: 2px;
  left: 0;
  bottom: 6px;
  background-color: #1976bc;
  transition: 0.5s;
}
.header1 .header-right .dropdown .drop-content a:hover ul {
  visibility: visible;
}
.header1 .header-right .dropdown .drop-content a:hover::after {
  width: 18%;
}
.header1 .header-right .dropdown .drop-content a::after {
  position: absolute;
  content: '';
  width: 0%;
  height: 2px;
  left: 0;
  bottom: 6px;
  background-color: #1976bc;
  transition: 0.5s;
}
.header1 .header-right .different {
  position: relative;
  display: inline;
}
.header1 .header-right .different:hover .drop-content {
  visibility: visible;
  top: 150%;
}
.header1 .header-right .different .dropbtn {
  border: none;
  color: black;
  font-size: 20px;
  background-color: transparent;
  outline: none;
}
.header1 .header-right .different .drop-content {
  background-color: white;
  transition: 0.2s;
  position: absolute;
  top: 200%;
  left: -700px;
  text-align: left;
  min-width: 800px;
  visibility: hidden;
  border: 1px gray solid;
}
.header1 .header-right .different .drop-content a {
  display: block;
  padding: 10px 0px;
  text-decoration: none;
  outline: none;
  border-bottom: 1px gray solid;
  position: relative;
  color: black;
  position: relative;
}
.header1 .header-right .different .drop-content a:hover::after {
  width: 18%;
}
.header1 .header-right .different .drop-content a::after {
  position: absolute;
  content: '';
  width: 0%;
  height: 2px;
  left: 0;
  bottom: 6px;
  background-color: #1976bc;
  transition: 0.5s;
}

#header2 {
  display: none;
}
#header2 i {
  font-size: 34px;
  padding-top: 14px;
}

.header-info {
  background-color: #1976bc;
}
.header-info a {
  display: block;
  color: white;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}

@media (max-width: 576px) {
  .header1 {
    display: none;
  }

  #header2 {
    display: block;
  }
}
#slides {
  z-index: -1;
  position: relative;
  margin: auto;
}
#slides .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  transition: 0.5s;
}
#slides .slide-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  color: white;
}
#slides .slide-text .button2 {
  padding: 20px 20px;
  border: none;
  background-color: #1976bc;
  color: white;
  font-weight: 600;
  font-size: 20px;
}
#slides .slide-text .button2 h1 {
  font-weight: bold;
}
#slides .slide-text .button1 {
  padding: 20px 55px;
  border: none;
  background-color: #8dc645;
  color: white;
  font-weight: 600;
  font-size: 20px;
}
#slides .slide-text .button1 h1 {
  font-weight: bold;
}
#slides .showing {
  opacity: 1;
  z-index: 2;
}

.clear {
  clear: both;
}

#date-price {
  margin-top: 500px;
}
#date-price .options {
  background-color: white;
  padding: 30px 0px;
  border-bottom: 1px solid #1976bc;
}
#date-price .options .secim {
  padding: 10px 50px;
  border: none;
  box-shadow: 0px 0px 33px 4px #c2aec2;
}
#date-price .options input {
  padding: 10px 20px;
  border: none;
  box-shadow: 0px 0px 33px 4px #c2aec2;
}
#date-price .options button {
  padding: 10px 35px;
  border: none;
  background-color: #1976bc;
  color: white;
  font-weight: 600;
  font-size: 20px;
  border: none;
  box-shadow: 0px 0px 33px 4px #c2aec2;
}

.middle-text {
  padding: 70px 0px;
  background-color: #fcfcfc;
}
.middle-text h5 {
  color: #1976bc;
}
.middle-text p {
  color: #181818;
}
.middle-text h1 b {
  position: relative;
  z-index: 10;
}
.middle-text h1 b::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 25px;
  left: 0;
  z-index: -10;
  bottom: 0px;
  background-color: #1976bc;
  transition: 0.5s;
}

.ticket {
  background-color: #fcfcfc;
}
.ticket .box {
  background-color: white;
  position: relative;
  padding: 0;
  margin: 0;
  transition: 0.9s;
  color: black;
  text-align: center;
}
.ticket .box i {
  color: #1976bc;
}
.ticket .box i span {
  padding-left: 10px;
  color: black;
}
.ticket .box .box-image {
  position: relative;
}
.ticket .box .box-image::after {
  position: absolute;
  content: '';
  width: 0;
  height: 5px;
  left: 0;
  bottom: 0%;
  background-color: #1976bc;
  transition: 0.5s;
}
.ticket .box .box-offer {
  position: absolute;
  left: -4%;
  top: -2%;
  color: white;
  text-align: center;
}
.ticket .box .box-offer h6 {
  background-color: #1976bc;
  padding: 3px 5px;
  margin-bottom: 0;
  overflow: hidden;
}
.ticket .box .box-offer h5 {
  margin-top: 0;
  background-color: #8dc645;
  padding: 5px 5px;
  overflow: hidden;
}
.ticket .box:hover {
  bottom: 15px;
  box-shadow: 0px 0px 33px 4px #c2aec2;
}
.ticket .box:hover .box-image::after {
  width: 100%;
}

.ticket2 {
  background-color: #fcfcfc;
  margin-top: 50px;
}
.ticket2 .box {
  background-color: white;
  position: relative;
  padding: 0;
  margin: 0;
  transition: 0.9s;
  color: black;
  text-align: center;
}
.ticket2 .box i {
  color: #1976bc;
}
.ticket2 .box i span {
  padding-left: 10px;
  color: black;
}
.ticket2 .box .box-image {
  position: relative;
}
.ticket2 .box .box-image::after {
  position: absolute;
  content: '';
  width: 0;
  height: 5px;
  left: 0;
  bottom: 0%;
  background-color: #1976bc;
  transition: 0.5s;
}
.ticket2 .box .box-offer {
  position: absolute;
  left: -4%;
  top: -2%;
  color: white;
  text-align: center;
}
.ticket2 .box .box-offer h6 {
  background-color: #1976bc;
  padding: 3px 5px;
  margin-bottom: 0;
  overflow: hidden;
}
.ticket2 .box .box-offer h5 {
  margin-top: 0;
  background-color: #8dc645;
  padding: 5px 5px;
  overflow: hidden;
}
.ticket2 .box:hover {
  bottom: 15px;
  box-shadow: 0px 0px 33px 4px #c2aec2;
}
.ticket2 .box:hover .box-image::after {
  width: 100%;
}

.middle-text2 {
  padding: 70px 0px;
  background-color: #fcfcfc;
}
.middle-text2 h5 {
  color: #1976bc;
}
.middle-text2 p {
  color: #181818;
}
.middle-text2 h1 {
  font-size: 50px;
}
.middle-text2 h1 b {
  position: relative;
  z-index: 10;
}
.middle-text2 h1 b::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 25px;
  left: 0;
  z-index: -10;
  bottom: 0px;
  background-color: #1976bc;
  transition: 0.5s;
}

.countries .col-lg-3 {
  position: relative;
  margin-bottom: 30px;
}
.countries .col-lg-3 .country-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
}
.countries .col-lg-3 .text2 {
  background-color: #8dc645;
  position: absolute;
  top: -2%;
  left: 0%;
  color: white;
  text-align: center;
}
.countries .col-lg-3 .text2 h6 {
  padding: 3px 5px;
}
.countries .box2 .country-text {
  color: black;
}

.middle-text3 {
  padding: 70px 0px;
  background-color: #fcfcfc;
}
.middle-text3 h5 {
  color: #1976bc;
}
.middle-text3 p {
  color: #181818;
}
.middle-text3 h1 {
  font-size: 60px;
}
.middle-text3 h1 b {
  position: relative;
  z-index: 10;
}
.middle-text3 h1 b::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 25px;
  left: 0;
  z-index: -10;
  bottom: 0px;
  background-color: #1976bc;
  transition: 0.5s;
}

.iconlar {
  text-align: center;
}
.iconlar i {
  font-size: 80px;
  color: #8dc645;
  margin-bottom: 20px;
}
.iconlar p {
  margin: 0;
  padding: 0;
}
.iconlar h3 {
  margin: 0;
  padding: 0;
}
.iconlar button {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 15px 25px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  background-color: #1976bc;
  border: none;
}

#newslide {
  position: relative;
}
#newslide .box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
}
#newslide .box .box-text {
  box-shadow: 0px 0px 33px 4px #c2aec2;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
#newslide .box .box-text p {
  top: 30%;
  position: relative;
}
#newslide .box .box-text p::after {
  content: '';
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #1976bc;
}
#newslide .showing {
  z-index: 2;
  opacity: 1;
}

.middle-text4 {
  margin-top: 500px;
  padding: 70px 0px;
  background-color: #fcfcfc;
}
.middle-text4 h5 {
  color: #1976bc;
}
.middle-text4 p {
  color: #181818;
}
.middle-text4 h1 {
  font-size: 50px;
}
.middle-text4 h1 b {
  position: relative;
  z-index: 10;
}
.middle-text4 h1 b::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 25px;
  left: 0;
  z-index: -10;
  bottom: 0px;
  background-color: #1976bc;
  transition: 0.5s;
}

.ticket3 {
  background-color: #fcfcfc;
  padding: 50px 0px;
}
.ticket3 .box {
  background-color: white;
  position: relative;
  padding: 0;
  margin: 0;
  transition: 0.9s;
  color: black;
  text-align: center;
}
.ticket3 .box .box-image {
  position: relative;
}
.ticket3 .box .box-image::after {
  position: absolute;
  content: '';
  width: 0;
  height: 5px;
  left: 0;
  bottom: 0%;
  background-color: #1976bc;
  transition: 0.5s;
}
.ticket3 .box .box-offer {
  position: absolute;
  left: -4%;
  top: -2%;
  color: white;
  text-align: center;
}
.ticket3 .box .box-offer h6 {
  background-color: #8dc645;
  padding: 3px 5px;
  margin-bottom: 0;
  overflow: hidden;
}
.ticket3 .box:hover {
  bottom: 15px;
  box-shadow: 0px 0px 33px 4px #c2aec2;
}
.ticket3 .box:hover .box-image::after {
  width: 100%;
}

.fly {
  background-image: url(http://travelicious.bold-themes.com/main-demo/wp-content/uploads/sites/2/2018/09/bgn-newsletter.jpg);
  padding: 100px 0px;
  background-position: center;
  background-size: cover;
}
.fly p {
  font-size: 24px;
  color: white;
}
.fly h1 {
  font-size: 34px;
  color: white;
}
.fly input {
  padding: 5px 20px;
  border: none;
}
.fly button {
  padding: 5px 20px;
  background-color: #1976bc;
  color: white;
  border: none;
}

.middle-text5 {
  padding: 70px 0px;
  background-color: #fcfcfc;
}
.middle-text5 h5 {
  color: #1976bc;
}
.middle-text5 p {
  color: #181818;
}
.middle-text5 h1 {
  font-size: 50px;
}
.middle-text5 h1 b {
  position: relative;
  z-index: 10;
}
.middle-text5 h1 b::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 25px;
  left: 0;
  z-index: -10;
  bottom: 0px;
  background-color: #1976bc;
  transition: 0.5s;
}

/*# sourceMappingURL=style.css.map */
